


#container-trainers-gestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


#btn-add-trainer{
    height: 2rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f6f6f;
    color: #fff;
    border-radius: 3px;
    padding: 1rem;
}

#container-trainers{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.container-item-list-trainer{
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.inputs-list-item{
    width: 5rem;
}

.show{
    display: flex;
}

.hide{
    display: none;
}